/* Initialisation  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-disable */
  font-family: lato, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* stylelint-enable */
}

@font-face {
  font-family: "cocogoose";
  src: url("../assets/COCOGOOSELETTERPRESS TRIAL.ttf");
}

.fontfamilylato {
  font-family: lato, sans-serif;
}

.fontfamilycocogoose {
  font-family: cocogoose, sans-serif;
}

.orange {
  color: #ec5242;
}

header nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.left-header-div,
.right-header-div {
  display: none;
}

.burger-icon-menu {
  position: relative;
}

.burger-icon-menu img {
  margin-top: 1em;
  height: 3em;
}

.burger-icon-menu ul {
  display: none;
}

.ticket-select-ul li {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-footer-section ul li {
  display: inline-block;
  margin: 0 1em;
}

.burger-icon-menu:hover ul {
  position: absolute;
  display: block;
}

.left-header-div img {
  height: 4em;
  background: transparent;
}

.right-header-div ul li {
  margin-right: 2em;
}

.nav-items {
  color: #272a31;
}

.nav-items:hover {
  color: #ec5242;
}

.main-ticket-header h1 {
  border-bottom: 1px solid #ec5242;
}

.past-concert-article-main h1 {
  z-index: 999;
}

.main-top-div {
  background-color: #d3d3d3;
  border-radius: 0.3em;
}

.main-top-div h1 {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  color: #272a31;
}

.main-top-div h1:hover {
  color: #ec5242;
}

.main-date-header {
  font-weight: 900;
}

.past-concerts-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.past-concert-article-main {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  height: 15em;
  color: #d3d3d3;
}

.past-concert-article-main div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ec5342a1;
}

.past-concert-article-main p {
  z-index: 999;
}

.past-concert-article1 {
  background-image: url(../assets/concert-img-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.past-concert-article2 {
  background-image: url(../assets/concert-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer,
footer a {
  color: #272a31;
  text-decoration: none;
}

footer a:hover {
  color: #ec5242;
}

.bottom-footer-container {
  background-color: #d3d3d3;
}

.bottom-footer-container img {
  height: 7em;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.bottom-footer-container span {
  margin-left: 2em;
}

.top-footer-section {
  background-color: #272a31;
}

.top-footer-section h2 {
  color: #d3d3d3;
}

.main-ticket-header {
  margin: 0 auto;
}

.main-main-article-container {
  background-color: #272a31;
}

.lecture-div {
  margin: 0.5em 1em;
  background-color: rgba(128, 128, 128, 0.137);
}

.lecture-div-left h4 {
  color: #ec5242;
}

.lecture-div-right p,
.main-article-header {
  color: #d3d3d3;
}

.main-article-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #d3d3d3;
  background-color: #ec5242;
  width: 60%;
  border-radius: 2px;
  text-decoration: none;
}

.main-article-button:hover {
  cursor: pointer;
  color: #d3d3d3;
}

.main-featured-article {
  width: 80%;
  -ms-grid-column-align: center;
  justify-self: center;
}

.main-featured-right .orange-p {
  color: #ec5242;
}

.main-featured-right p {
  font-size: 11px;
}

.main-main-article-container1 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ticket-line-one h6 {
  color: #ec5242;
}

.ticket-select-ul {
  max-width: 768px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.confirm-button-div {
  background-color: #ec5242;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #d3d3d3;
  border-radius: 3px;
  width: 25%;
  min-width: 100px;
  max-width: 250px;
}

.confirm-button-div:hover {
  cursor: pointer;
}

.ticket-schedule-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%) (4);
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 4em;
  grid-row-gap: 1.5em;
}

.ticket-schedule-section div {
  margin-left: 1em;
}

.time-schedule img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #272a31;
}

.footer-logo-img {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .left-header-div,
  .right-header-div {
    display: block;
  }

  .burger-icon-menu {
    display: none;
  }

  .main-main-article-container1 {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .lecture-div,
  .lecture-div-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .lecture-div {
    width: 20%;
    margin-bottom: 3em;
    text-align: center;
  }

  .lecture-div img {
    padding-top: 1em;
  }

  .main-article-button {
    display: none;
  }

  .main-featured-article {
    width: 100%;
  }

  .main-featured-groups-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48% 48%;
    grid-template-columns: 48% 48%;
  }

  .past-concerts-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .ticket-select-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 65%;
  }

  .ticket-select-ul li {
    display: flex;
  }

  .ticket-select-ul li input {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 0.3em;
  }
}
/*# sourceMappingURL=main.css.map */
